.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #87cefa;
}
.sub-container {
  padding: 30px;
  border-radius: 8px;
  width: 550px;
  min-height: 300px;
  padding: 30px 30px 50px 30px;
  margin: 30px 0px 30px 0px;
  background-color: #000000;
}
.select {
  width: 500px;
  height: 30px;
  margin: 10px 0px 10px 0px;
  outline: none;
  border: none;
}
.label-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
}
.heading {
  color: #708090;
  font-family: 'Roboto';
  font-weight: 800;
  text-align: center;
}
.comment {
  color: #ffffff;
  font-family: 'Roboto';
  margin: 15px 0px 15px 0px;
  width: 420px;
  text-align: justify;
}
.comments-container {
  padding: 0px 0px 0px 10px;
}

@media Screen and (max-width: 576px) {
  .sub-container {
    width: 80vw;
    min-height: 200px;
  }
  .select {
    width: 60vw;
    height: 30px;
  }
  .comment {
    width: 57vw;
  }
}

@media Screen and (min-width: 576px) {
  .sub-container {
    width: 400px;
    min-height: 200px;
  }
  .select {
    width: 350px;
    height: 30px;
  }
  .comment {
    width: 320px;
  }
}

@media Screen and (min-width: 768px) {
  .sub-container {
    width: 500px;
    min-height: 200px;
  }
  .select {
    width: 450px;
    height: 30px;
  }
  .comment {
    width: 420px;
  }
}
